{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BukaHati | Dashboard</title>


    <script type="text/javascript" src="https://platform.linkedin.com/in.js">
          api_key: 816z2l1p1v9gwv
          authorize: false
          onLoad: onLinkedInLoad
          scope: r_basicprofile r_emailaddress rw_company_admin
        </script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/clean-blog.min.css' %}" />



      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->


    	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">

  </head>

  <body>


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Job Seeker</h1>
              <span class="subheading">The best seeker you can ever have babes</span>
            </div>
          </div>
        </div>
      </div>
      <center><script type="in/Login"></script></center>
      <script src="{% static 'js/login.js' %}"></script>
    </header>



    <!-- Main Content -->
    <content>
        {% block content %}

        {% endblock %}


    </content>

    <!-- Footer -->
    <footer>
        <p class="copyright text-muted">Copyright &copy; Origin Masters 2017</p>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/clean-blog.min.js"></script>



    <!-- Jquery n Bootstrap Script -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      {% block javascript %} {% endblock %}

  </body>

</html>
