{% extends "profile/layout/base.html" %}
{% block content %}

<!-- sign in with linkedin button -->
<script type="in/Login"></script>

<!-- display profile info -->
<div id="profileData" style="display: none;">
<section id="about">
  <div class="container">
    <div class="row">
      <h1>About</h1>
      <div class="block"></div>
      <p id="description"></p>
    </div>
    <div class="row">
      <div class="six columns">
        {% load static %}
        <h3><span class="typcn typcn-device-desktop icon"><img class="img-valign" src="{% static "images/like.png" %}"></span>Brief description</h3>
        <p id="specialty"></p>
        <p id="type"></p>
        <p id="founded"></p>
      </div>

      <div class="six columns">
        <h3><span class="typcn typcn-pen icon"><img class="img-valign" src="{% static "images/mails.png" %}"></span>Reach us</h3>
        <p id="website"></p>
        <p id="address"></p>
      </div>

    </div>
  </div>
</section>
</div>






{% endblock %}
