{% extends "dashboard/index.html" %}

{% block content %}
<!-- Content Here -->
<div class='col-md-9' >
    <section id="data-dashboard">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class='panel-title'> Forum </h2>
            </div>

            <div class="panel-body">
                {% if forum %}
                    {% for i in forum %}
                    {% with forloop.counter as counter1 %}
                        <div class='row'>
                            <div class='col-md-1'>
                                 {{ i.nomor }} .
                            </div>
                            <img src="{{ gambar }}" style='height:100px' class='col-md-2 img-responsive '/>
                            <div class='col-md-9'>
                                <div class='row'>
                                    <div class='col-md-9'>
                                        <h3  style='margin-top:0px'>{{ i.pengguna.company_name }}</h3>
                                        <p id='{{ counter1 }}'>{{ i.isi }}</p>
                                    </div>
                                    <button class='btn btn-default col-md-2' id='tombolBalas{{ forloop.counter }}' onclick="tambahKomentar( {{ i.nomor }} )">Balas</button>
                                    <button class='btn btn-danger col-md-2' id='tombolBatal{{ forloop.counter }}' style='display:none' onclick="batalKomentar( {{ forloop.counter }} )">Batal</button>
                                </div>
                            </div>
                        </div>
                        <hr/>

                        {% if komentar %}
                            {% for j in komentar %}
                                {% if j.forum.nomor == i.nomor %}
                                    <div class='row'>
                                        <div class='col-md-2'>

                                        </div>
                                        <img src="{{ gambar }}" style='height:100px' class='col-md-2 img-responsive '/>
                                        <div class='col-md-8'>
                                            <div class='row'>
                                                <div class='col-md-9'>
                                                    <h3  style='margin-top:0px'>{{ j.nama }}</h3>
                                                    <p id='{{ forloop.counter }}'>{{ j.isi }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class='row'>
                            <div class='col-md-3'></div>
                            <div class='col-md-7'  id='komentar{{ i.nomor }}'></div>
                        </div>

                    {% endwith %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-danger text-center">
                        <strong>Opps!</strong> Tidak ada Forum
                    </div>
                {% endif %}
            </div>

        </div>

    </section>
</div>

{% endblock %}

{% block javascript %}
<script>
    var tambahKomentar = function (angka) {
        var html =
        '<form>' +
        'Tulis Nama'+
        '<input class="form-control" id="tulisNama">' +
            '<div class="form-group">' +

            '<br>Tulis Komentar'+
              '<textarea class="form-control" rows="5" id="tulisKomentar"></textarea>' +
            '</div>' +

            '<div class="pull-right">' +
                '<a href="" class="btn btn-info" onclick=\"postKomentar(' + angka + ')\">Kirim</a>' +
            '</div>' +

        '</form>' ;

        $('#komentar' + angka).append(html);

        $('#tombolBalas' + angka).hide();
        $('#tombolBatal' + angka).show();

    };

    var batalKomentar = function (angka) {
        $('#komentar' + angka).html("");
        $('#tombolBalas' + angka).show();
        $('#tombolBatal' + angka).hide();
    }

    var postKomentar = function (angka) {
        // alert($('#' + angka).text());
            // alert(angka);
        $.ajax({
            async : false,
            method : 'POST',
            url : '{% url "react:add_comment" %}',
            data : {
            	'nama' : $('#tulisNama').val(),
                'isi' : $('#tulisKomentar').val(),
                'nomor' : angka
            },
        })
    }
</script>

{% endblock %}
